{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "importOrder": [
    "^react$",
    "^@/project-settings/(.*)$",
    "^next/(.*)$",
    "^@/types/(.*)$",
    "^@/data/(.*)$",
    "^@mantine(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/services/(.*)$",
    "^@/utils/(.*)$",
    "^@/(.*)",
    "^@/assets/(.*)$",
    "^react-icons/(.*)$",
    "^~icons/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
